.upperWrapper{
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrapper {
    position: relative;
    top: 5vh;
    border: 2px solid black;
    border-radius: 10px;
}

.screen{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black
}

.buttonsArea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3px;
    grid-row-gap: 3px

}

.buttons {
    display:inline-block
}